@import 'tailwindcss';

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 4rem;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 2rem;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

p {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1rem;

  @media (max-width: 768px) {
    font-size: 0.75rem;
  }
}

p.subtitle {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #666;

  @media (max-width: 768px) {
    font-size: 0.5rem;
  }
}
