@import 'tailwindcss';

body {
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
}

h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1rem;
}

p.subtitle {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #666;
}
